.App {
  text-align: center;
  background-image: url("http://planetarium.truman.edu/files/2017/10/Space-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
}

.projectimg {
  width: 400px;
  height: auto;
}

.project1, .project2, .project3, .projectuxdi, .project4 {
  background-color: white;
}